# **Theoretical Questions**

Question 1 : What are data structures, and why are they important?

Answer:  Data structures are ways of organizing and storing data so that it can be accessed and manipulated efficiently. Data structures are important for faster operations, better memory use, and effective problem-solving.

Question 2: Explain the difference between mutable and immutable data types with examples

Answer:
Mutable data type - Can be changed after creation like lists, sets.

Example:

nums = [1, 2, 3]

nums[0] = 10

The original list is now modified.

Immutable data type - Cannot be changed after creation like strings, tuples.

Example:

name = "John"

name = name + " Doe"

This creates new string, original remains unchanged.

Question 3. What are the main differences between lists and tuples in Python?

Answer: The main differences between lists and tuples in Python are
1. Lists are mutable, meaning their elements can be changed after creation. Tuples are immutable, meaning their elements cannot be changed after creation.
2. Lists are defined using square brackets `[]`, while tuples are defined using parentheses `()`.

Question 4. Describe how dictionaries store data.

Answer: Dictionaries store data in the form of key-value pair in a structure called hash table.

Question 5. Why might you use a set instead of a list in Python?

Answer: A set is used instead of a list when there is a need to store unique elements and to perfom faster membership checks.

Question 6. What is a string in Python, and how is it different from a list?

Answer: A string in Python is a sequence of characters enclosed in quotes (' ' or " ").

It differs from a list in the following ways:

1. A string can only store characters, whereas a list can store elements of any type.

2. Strings are immutable whereas lists are mutable.

Question 7.  How do tuples ensure data integrity in Python?

Answer: Tuples ensure data integrity by being immutable. This prevents accidental modifications to the stored data.

Question 8. What is a hash table, and how does it relate to dictionaries in Python?

Answer: A hash table is a data structure that stores data in key-value pairs and uses a hash function to map each key to a specific memory location for fast access.

In Python, dictionaries are implemented using hash tables, which is why key lookups are very fast.

Question 9. Can lists contain different data types in Python?

Answer: Yes, lists in Python can contain different data types such as integers, float, strings and even other lists.

Question 10. Explain why strings are immutable in Python.

Answer: Strings are immutable in Python to save memory, keep data safe, and prevent unexpected changes when the same string is shared across variables. Any modifications to the original string actually creates a new string.

Question 11. What advantages do dictionaries offer over lists for certain tasks?

Answer: Dictionaries offer faster lookups, easier data mapping with key-value pairs, and automatic handling of unique keys, making them better than lists for tasks involving quick searches or data retrieval by a specific identifier.

Question 12. Describe a scenario where using a tuple would be preferable over a list.

Answer: A tuple is better than a list when the user wants to store data that should not change, such as the fixed coordinates of a location or the days of the week.

Question 13. How do sets handle duplicate values in Python?

Answer: Sets automatically remove duplicate values, making every element of a set unique.

Question 14. How does the “in” keyword work differently for lists and dictionaries?

Answer: For lists, the "in" keyword checks if a value exists among the elements whereas for dictionaries, it checks if a key exists or not.

Question 15.  Can you modify the elements of a tuple? Explain why or why not.

Answer:  No, the elements of a tuple cannot be modified because tuples are immutable, meaning their contents cannot be changed, added, or removed after creation.

Question 16. What is a nested dictionary, and give an example of its use case?

Answer: A nested dictionary is a dictionary where each value can itself be another dictionary. Example of its use case is storing employee data by ID.

Example:

employees = {101:{"name": "Alice", "dept": "HR"},102:{"name": "Bob", "dept": "IT"}}

Question 17. Describe the time complexity of accessing elements in a dictionary.

Answer: Accessing an element in a dictionary is O(1), meaning it takes the same time no matter how many items the dictionary has.

Question 18. In what situations are lists preferred over dictionaries?

Answer: Lists are preferred when we want to store items in order, allow duplicates, or access elements by their index rather than by a key.

Question 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer: Dictionaries are considered unordered because they store items based on the basis of hash values of keys, not in a fixed sequence. This means we cannot rely on the order of items when retrieving them, but we can access data by its key.

Question 20. Explain the difference between a list and a dictionary in terms of data retrieval.

Answer: In a list, data is retrieved by its index (position), while in a dictionary, data is retrieved by its key.

# **Practical Questions**

In [ ]:
# Question 1. Write a code to create a string with your name and print it.

# Answer:

name = "Monimoy Bharadwaj"
print(name)

Monimoy Bharadwaj

In [ ]:
# Question 2. Write a code to find the length of the string "Hello World".

# Answer:

str1 = "Hello World"
print(len(str1))

11

In [ ]:
# Question 3. Write a code to slice the first 3 characters from the string "Python Programming".

# Answer:

str2 = "Python Programming"
print(str2[0:3])

Pyt

In [ ]:
# Question 4. Write a code to convert the string "hello" to uppercase.

# Answer:

str3 = "hello"
print(str3.upper())

HELLO

In [ ]:
# Question 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

# Answer:

str4 = "I like apple"
print(str4.replace("apple","orange"))

I like orange

In [ ]:
# Question 6. Write a code to create a list with numbers 1 to 5 and print it.

# Answer:

lst1 = [1,2,3,4,5]
print(lst1)

[1, 2, 3, 4, 5]

In [ ]:
# Question 7. Write a code to append the number 10 to the list [1,2,3,4].

# Answer:

lst2 = [1,2,3,4]
lst2.append(10)
print(lst2)

[1, 2, 3, 4, 10]

In [ ]:
# Question 8. Write a code to remove the number 3 from the list [1,2,3,4,5].

# Answer:

lst3 = [1,2,3,4,5]
lst3.remove(3)
print(lst3)

[1, 2, 4, 5]

In [ ]:
# Question 9. Write a code to access the second element in the list ['a','b','c','d'].

# Answer:

lst4 = ['a','b','c','d']
print(lst4[1])

b

In [ ]:
# Question 10. Write a code to reverse the list [10,20,30,40,50].

# Answer:

lst5 = [10,20,30,40,50]
print(lst5[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# Question 11. Write a code to create a tuple with the 100, 200, 300 and print it.

# Answer:

tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
# Question 12. Write a code to access the second-to-last element of the tuple ('red','green','blue','yellow').

# Answer:

tuple2 = ('red','green','blue','yellow')
print(tuple2[-2])

blue

In [4]:
# Question 13. Write a code to find the minimum number in the tuple (10,20,5,15).

# Answer:

tuple3 = (10,20,5,15)
print(min(tuple3))

5

In [ ]:
# Question 14. Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

# Answer:

tuple4 = ("dog","cat","rabbit")
tuple4.index('cat')

1

In [ ]:
# Question 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

# Answer

tuple5 = ("apple","mango","kiwi")
print(tuple5)
print("kiwi" in tuple5)

('apple', 'mango', 'kiwi')
True

In [ ]:
# Question 16. Write a code to create a set with the elements 'a','b','c' and print it.

# Answer:

set1 = {"a","b","c"}
print(set1)
print(type(set1))

{'b', 'a', 'c'}
<class 'set'>

In [ ]:
# Question 17. Write a code to clear all elements from the set {1,2,3,4,5}.

# Answer:

set2 = {1,2,3,4,5}
set2.clear()
print(set2)

set()

In [ ]:
# Question 18. Write a code to remove the element 4 from the set {1,2,3,4}.

# Answer:

set3 = {1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [3]:
# Question 19. Write a code to find the union of two sets {1,2,3} and {3,4,5}.

# Answer:

a = {1,2,3}
b = {3,4,5}
print(f"Union of {a} and {b} is {a|b}")

Union of {1, 2, 3} and {3, 4, 5} is {1, 2, 3, 4, 5}

In [5]:
# Question 20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

# Answer:

c = {1,2,3}
d = {2,3,4}
print(f"Intersection of {c} and {d} is {c&d}")

Intersection of {1, 2, 3} and {2, 3, 4} is {2, 3}

In [ ]:
# Question 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

# Answer:

dict1 = {"name": "Monimoy", "age": 24, "city": "Ghy"}
print(dict1)

{'name': 'Monimoy', 'age': 24, 'city': 'Ghy'}

In [ ]:
# Question 22. Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'John','age':25}.

# Answer:

dict2 = {"name":"John","age":25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [6]:
# Question 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

# Answer:

dict3 = {"name":"Alice","age":30}
print(dict3["name"])

Alice

In [4]:
# Question 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

# Answer:

dict4 = {"name":"Bob","age":22,"city":"New York"}
del dict4["age"]
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [7]:
# Question 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

# Answer:

dict5 = {"name": "Alice", "city": "Paris"}
print("city" in dict5)

True

dict

In [9]:
# Question 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Answer:

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8, "c": 9}

print("List:",my_list)
print("Tuple:",my_tuple)
print("Dictionary:",my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8, 'c': 9}

In [7]:
# Question 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)

# Answer:

import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[22, 30, 36, 60, 85]

In [11]:
# Question 28.  Write a code to create a list with strings and print the element at the third index.

# Answer:

string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])

date

In [18]:
# Question 29.  Write a code to combine two dictionaries into one and print the result.

# Answer:

d1 = {"a":1,"b":4,"c":"Today"}
d2 = {"sun":0,"day":"Thursday"}
d2.update(d1)
print(d2)

{'sun': 0, 'day': 'Thursday', 'a': 1, 'b': 4, 'c': 'Today'}

In [21]:
# Question 30. Write a code to convert a list of strings into a set.

# Answer:

str_lst = ["apple", "banana", "cherry", "apple", "date"]
str_s = set(str_lst)

print(str_s)
print(type(str_s))

{'banana', 'apple', 'cherry', 'date'}
<class 'set'>